@font-face {
    font-family: homa;
    src: url(font/BHoma.ttf);
}
body{
    background: #222;
}
.card{
    /* border: 2px solid red; */
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #52dbb6, #5b548a);
    color: #fff;
    margin: 40px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input{
         /* border: 2px solid red; */
         direction: rtl;
         border: none;
         outline: none;
         background: #ebfffc;
         color: #555;
         padding: 10px 25px;
         height: 60px;
         border-radius: 30px;
         flex: 1;
         margin-left: 20px;
         font-size: 18px;
    }
    button{
          border: 2px solid red;
          border: none;
          outline: none;
          background: #ebfffc;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          cursor: pointer;
          img{
            /* background: red; */
            width: 20px;
            
          }
    }
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:  0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    img{
        width: 40px;
        margin-right: 10px;
    }
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}


/* my footer */


.footer {
    z-index: 999;
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 50px;
    right: 50px;

    &:hover {

        >img,
        &::before {
            animation-play-state: paused;
        }

        >a {
            left: -30%;
        }
    }

    >img,
    &::before {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::before {
        content: '';
        background-color: #3d3479;
        animation: fancybefore infinite ease-out alternate 3s;
    }

    >img {
        animation: fancyimg infinite ease-out alternate 5s;

    }

    >figcaption {
        position: absolute;
        width: 130%;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        left: -20px;
        font-size: 25px;
        color: #3d3479;
        bottom: -45px;
    }

    >a {
        position: absolute;
        left: 8%;
        transition: 1s;
        color: #3d3479;
        font-size: 35px;

        &:nth-of-type(1) {
            top: 10%;
        }

        &:nth-of-type(2) {
            top: 40%;
            transition-delay: .4s;
        }

        &:nth-of-type(3) {
            top: 70%;
            transition-delay: .8s;
        }
    }


}

@keyframes fancybefore {
    0% {
        border-radius: 66% 34% 70% 30% / 41% 54% 46% 59%;
    }

    50% {
        border-radius: 64% 36% 38% 62% / 60% 73% 27% 40%;
    }

    100% {
        border-radius: 27% 73% 57% 43% / 41% 60% 40% 59%;
    }
}

@keyframes fancyimg {
    0% {
        border-radius: 27% 73% 57% 43% / 41% 60% 40% 59%;
    }

    50% {
        border-radius: 66% 34% 70% 30% / 41% 54% 46% 59%;
    }

    100% {
        border-radius: 64% 36% 38% 62% / 60% 73% 27% 40%;
    }
}
 @media(max-width:500px){
    figure{
        scale:.7;
    }
   }